# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\python\GIT-DOC_CZ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
